tr {
    display: list-item;
    list-style-type: none;
}


.headline {
    text-decoration: none !important;
    font-size: 13.333px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    color: black;
}


.headline:visited,
.title:visited {
    color: grey;
}

.subtext,
.site,
.subtext>a {
    font-size: 11.333px;
    color: grey;
    text-decoration: none !important;
}

td {
    color: #828282;
    text-decoration: none !important;
    font-size: 13.333px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}