.contents {
    margin: 20px;
}

button {
    font-size: 15px;
    display: flex;
font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
background-color:  Transparent;
}

a{
    text-decoration: none !important;
    color: blue;
}

.subtext{
    font-size: 12px;
}